.tipTitle{
    color:red;
    margin-left: 25px;
}

.labelTitle{
    margin-right: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #000000;  
}

.inputWidth{
    width: 105px;
}
 
.widthStyle{
    width: 26%;
}

.widthStyle2{
    width: 24%;
}

.widthStyle3{
    width: 35%;
}

.widthStyle4{
    width: 14%;
}
.widthStyle5{
    width: 23%;
}
