.actionBtn {
    margin-left: 15px;
}

.hispanel{
    background-color: #ffffff;
    box-shadow: 1px 1px 3px #ccc;
    margin:30px 70px;
    padding: 40px 60px;
}

.marginstyle{
    margin-right: 80px;
}